<div class="grid--full callout-text-right">
  <div class="grid__item large--one-half text-center">
    <div class="callout-image">
      <img src="{{ image1 }}" />
    </div>
  </div>
  <div class="grid__item large--one-half callout-right">
    <div class="callout-title">
      <h1>{{ title }}</h1>
    </div>
    <div class="callout-description">
      <p>{{ description }}</p>
    </div>

    <a href="{{ url }}"><div class="products-cta">{{ cta }}</div></a>
  </div>
</div>
