<div class="grid--full products">

  <div class="grid__item large--one-sixth medium-down--hide" style="background: url({{ image2 }}); background-repeat: no-repeat; background-size: cover; background-position: center;">
  </div>

  <div class="grid__item large--five-twelfths" style="background: url({{ image1 }}); background-repeat: no-repeat; background-size: cover; background-position: center;">
    <div class="products-image">

      {% if page.url == '/pages/gifting' %}
        <img src="https://cdn.shopify.com/s/files/1/0941/6562/files/BlueVBLogos-Gifts.png?7111495429789243740" />
      {% endif %}

      {% if page.url == '/pages/celebrate' %}
        <img src="//cdn.shopify.com/s/files/1/0941/6562/files/diamond_large.png" />
      {% endif %}

      {% if page.url == '/pages/moments' %}
        <img src="https://cdn.shopify.com/s/files/1/0941/6562/files/BlueVBLogos-Moments.png?7111495429789243740" />
      {% endif %}

      {% if page.url == '/pages/about' %}
        <img src="https://cdn.shopify.com/s/files/1/0941/6562/files/BlueVBLogos-bkln.png?7111495429789243740" />
      {% endif %}

    </div>
  </div>

  <div class="grid__item large--five-twelfths">

    <div class="products-title">
      <h1>{{ title }}</h1>
    </div>

    <div class="products-description">
      <p>{{ description }}</p>
    </div>

    <a href="{{ url }}"><div class="products-cta">{{ cta }}</div></a>

  </div>

</div>
