<div class="grid--full products">

  <div class="grid__item large--five-twelfths">

    <div class="products-title">
      <h1>{{ title }}</h1>
    </div>

    <div class="products-description">
      <p>{{ description }}</p>
    </div>
    <div class="products-cta">
      <a href="{{ url }}">{{ cta }}</a>
    </div>
  </div>
  <div class="grid__item large--five-twelfths" style="background: url({{ image1 }})">
    <div class="products-image">
      <img src="//cdn.shopify.com/s/files/1/0941/6562/files/diamond_large.png" />
    </div>
  </div>
  <div class="grid__item large--one-sixth medium-down--hide" style="background: url({{ image2 }})">
  </div>

</div>
