<div class="grid--full callout-text-left-big">

  <div class="grid__item large--one-half callout-left">
    <div class="callout-title">
      <h1>{{ title }}</h1>
    </div>
    <div class="callout-description">
      <p>{{ description }}</p>

    </div>

    {% if cta %}
      <a href="{{ url }}"><div class="products-cta">{{ cta }}</div></a>
    {% endif %}

  </div>

  <div class="grid__item large--one-half callout-right">
    <div class="callout-image-bottom" style="background: url({{ image1 }}); background-repeat: no-repeat; background-size: cover; background-position: center;">
    </div>
  </div>

</div>
