<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'animate.css' | asset_url | stylesheet_tag }}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}

  {{ 'instafeed.min.js' | asset_url | script_tag }}

  {{ 'jquery.waitforimages.js' | asset_url | script_tag }}

  {{ 'jquery.parallax-1.1.3.js' | asset_url | script_tag }}

  {{ 'jquery.matchHeight-min.js' | asset_url | script_tag }}

  {{ 'sly.js' | asset_url | script_tag }}

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  {{ "font.css"  | asset_url | stylesheet_tag }}

  <script type="text/javascript">
    var feed = new Instafeed({
      get: 'user',
      userId: 199721613,
      accessToken: '19403516.22cb2c4.afd9be3b43184423b6fdf34cec830bfa',
      limit: 6,
      resolution: 'standard_resolution'
    });
    feed.run();
  </script>

</head>


{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  <div id="NavDrawer" class="drawer drawer--left">
    <div class="drawer__header">
      <div class="drawer__title h3">{{ 'layout.drawers.browse' | t }}</div>
      <div class="drawer__close js-drawer-close">
        <button type="button" class="icon-fallback-text">
          <span class="icon icon-x" aria-hidden="true"></span>
          <span class="fallback-text">{{ 'layout.drawers.close_menu' | t }}</span>
        </button>
      </div>
    </div>
    <!-- begin mobile-nav -->
    <ul class="mobile-nav">
      <li class="mobile-nav__item mobile-nav__search">
        {% include 'search-bar' %}
      </li>
      {% for link in linklists.main-menu.links %}
        {% comment %}
          Create a dropdown menu by naming a linklist the same as a link in the parent nav

          More info on dropdowns:
            - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
        {% endcomment %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
          <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}" aria-haspopup="true">
            <div class="mobile-nav__has-sublist">
              <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
              <div class="mobile-nav__toggle">
                <button type="button" class="icon-fallback-text mobile-nav__toggle-open">
                  <span class="icon icon-plus" aria-hidden="true"></span>
                  <span class="fallback-text">See More</span>
                </button>
                <button type="button" class="icon-fallback-text mobile-nav__toggle-close">
                  <span class="icon icon-minus" aria-hidden="true"></span>
                  <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
                </button>
              </div>
            </div>
            <ul class="mobile-nav__sublist">
              {% for childlink in linklists[child_list_handle].links %}
                <li class="mobile-nav__item {% if childlink.active %} mobile-nav__item--active{% endif %}">
                  <a href="{{ childlink.url }}" class="mobile-nav__link">{{ childlink.title | escape }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}">
            <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% comment %}
        If customer accounts are enabled, provide login and create account links
      {% endcomment %}
      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <li class="mobile-nav__item">
            {% if customer.first_name != blank %}
              {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
              {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
            {% else %}
              <a href="/account">{{ 'layout.customer.account' | t }}</a>
            {% endif %}
          </li>
          <li class="mobile-nav__item">
            {{ 'layout.customer.log_out' | t | customer_logout_link }}
          </li>
        {% else %}
          <li class="mobile-nav__item">
            {{ 'layout.customer.log_in' | t | customer_login_link }}
          </li>
          {% if shop.customer_accounts_optional %}
          <li class="mobile-nav__item">
            {{ 'layout.customer.create_account' | t | customer_register_link }}
          </li>
          {% endif %}
        {% endif %}
      {% endif %}
    </ul>
    <!-- //mobile-nav -->
  </div>
  <div id="CartDrawer" class="drawer drawer--right">
    <div class="drawer__header">
      <div class="drawer__title h3">{{ 'cart.general.title' | t }}</div>
      <div class="drawer__close js-drawer-close">
        <button type="button" class="icon-fallback-text">
          <span class="icon icon-x" aria-hidden="true"></span>
          <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
        </button>
      </div>
    </div>
    <div id="CartContainer"></div>
  </div>
  <div id="PageContainer" class="is-moved-by-drawer">

    {% if template == 'index' %}

      <div class="index-banner">

        <div class="index-banner-home">
          <div class="index-logo-gifting">
            <img src="https://cdn.shopify.com/s/files/1/0941/6562/files/GoldVBLogos-gifting.png?100996462189133030" />
          </div>
          <div class="index-logo-celebrations">
            <img src="https://cdn.shopify.com/s/files/1/0941/6562/files/GoldVBLogos-celebrate.png?100996462189133030" />
          </div>
          <div class="index-logo-moments">
            <img src="https://cdn.shopify.com/s/files/1/0941/6562/files/GoldVBLogos-moments.png?100996462189133030" />
          </div>
          <div class="index-logo-about">
            <img src="https://cdn.shopify.com/s/files/1/0941/6562/files/GoldVBLogos-bkln.png?100996462189133030" />
          </div>
          <div class="index-banner-home-text">
            Creatively curating custom events, productions, celebrations & luxury gifts
          </div>
        </div>

        <div class="index-mobile-home">
          <img src="https://cdn.shopify.com/s/files/1/0941/6562/files/vessel-mobile.png?13130002969165042751" />
        </div>

      </div>

    {% endif %}

    {% if template == 'index' %}
      <header class="site-header" role="banner">
    {% else %}
      <header class="site-header site-header-interior" role="banner">
    {% endif %}

      <div class="mobile mobile-cart">
        <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
          <span class="icon-fallback-text">
            <span class="icon icon-cart" aria-hidden="true"></span>
          </span>
        </a>
      </div>

      <div class="wrapper">

        <div class="grid--full grid--table menu-items">
          <div class="grid__item large--one-twelfth medium-down--hide">
          </div>

          <div class="grid__item large--one-eighth menu-gifting">
            <a href="/pages/gifting">
              <div class="land">
                <img src="//cdn.shopify.com/s/files/1/0941/6562/files/moments_large.png" />
              </div>
              <div class="hover">
                <img src="https://cdn.shopify.com/s/files/1/0941/6562/files/NavOutlines-Gifting.png?9428823851147239333" />
              </div>
              Gifts
            </a>
          </div>
          <div class="grid__item large--one-eighth menu-celebrate">
            <a href="/pages/celebrate">
              <div class="land">
                <img src="//cdn.shopify.com/s/files/1/0941/6562/files/gifting_large.png" />
              </div>
              <div class="hover">
                <img src="https://cdn.shopify.com/s/files/1/0941/6562/files/NavOutlines-Celebrate.png?9428823851147239333" />
              </div>
              Celebrations
            </a>
          </div>

          <div class="grid__item large--one-third medium-down--hide">
            {% comment %}
              Use the uploaded logo from theme settings if enabled.
              Site name gets precedence with H1 tag on homepage, div on other pages.
            {% endcomment %}
            {% if template == 'index' %}
              <h1 class="site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
            {% else %}
              <div class="h1 site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
            {% endif %}
              {% if settings.logo_use_image %}
                <a href="/" itemprop="url" class="site-header__logo-link">
                  <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                </a>
              {% else %}
                <a href="/" itemprop="url">{{ shop.name }}</a>
              {% endif %}
            {% if template == 'index' %}
              </h1>
            {% else %}
              </div>
            {% endif %}
          </div>

          <div class="grid__item large--one-eighth mobile">
            <a href="/">
              <img src="https://cdn.shopify.com/s/files/1/0941/6562/files/logo-interior.png?18107563605760467854" />
            </a>
          </div>

          <div class="grid__item large--one-eighth menu-moments">
            <a href="/pages/moments">
              <div class="land">
                <img src="//cdn.shopify.com/s/files/1/0941/6562/files/celebrate_large.png" />
              </div>
              <div class="hover">
                <img src="https://cdn.shopify.com/s/files/1/0941/6562/files/NavOutlines-Moments.png?9428823851147239333" />
              </div>
              Moments
            </a>
          </div>
          <div class="grid__item large--one-eighth menu-about">
            <a href="/pages/about">
              <div class="land">
                <img src="//cdn.shopify.com/s/files/1/0941/6562/files/about_large.png" />
              </div>
              <div class="hover">
                <img src="https://cdn.shopify.com/s/files/1/0941/6562/files/NavOutlines-Bkln.png?9428823851147239333" />
              </div>

              About
            </a>
          </div>

          <div class="grid__item large--one-twelfth medium-down--hide">
            {% comment %}
              Show number of items in the cart and total cost in the /cart link

              Ajax Cart Notes:
                - #cartCount updates the total number of items in the cart
                - #cartCost updates the total cost of the cart
                - Documentation:  http://shopify.com/timber#ajax-cart
            {% endcomment %}
            <div>
              <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
                <span class="icon-fallback-text">
                  <span class="icon icon-cart" aria-hidden="true"></span>
                </span>
              </a>
            </div>

            {% comment %}
              If customer accounts are enabled, provide login and create account links
            {% endcomment %}
            {% if shop.customer_accounts_enabled %}
              <div>
                {% if customer %}
                  {% if customer.first_name != blank %}
                    {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                    {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                  {% else %}
                    <a href="/account">{{ 'layout.customer.account' | t }}</a>
                  {% endif %}
                  | {{ 'layout.customer.log_out' | t | customer_logout_link }}
                {% else %}
                  {{ 'layout.customer.log_in' | t | customer_login_link }}
                  {% if shop.customer_accounts_optional %}
                  | {{ 'layout.customer.create_account' | t | customer_register_link }}
                  {% endif %}
                {% endif %}
              </div>
            {% endif %}


          </div>
        </div>

      </div>
    </header>

    <!-- <nav class="nav-bar" role="navigation">
      <div class="wrapper">

        <div class="large--hide medium-down--show">
          <div class="grid">
            <div class="grid__item one-half">
              <div class="site-nav--mobile">
                <button type="button" class="icon-fallback-text site-nav__link js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
                  <span class="icon icon-hamburger" aria-hidden="true"></span>
                  <span class="fallback-text">{{ 'layout.navigation.menu' | t }}</span>
                </button>
              </div>
            </div>
            <div class="grid__item one-half text-right">
              <div class="site-nav--mobile">
                <a href="/cart" class="js-drawer-open-right site-nav__link" aria-controls="CartDrawer" aria-expanded="false">
                  <span class="icon-fallback-text">
                    <span class="icon icon-cart" aria-hidden="true"></span>
                    <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav> -->

    {% if template == 'index' %}
      <main class="wrapper main-content" role="main">
    {% else %}
      <main class="wrapper main-content" role="main">
    {% endif %}



      {{ content_for_layout }}

    </main>

    <!-- begin site-footer -->
    <footer class="site-footer small--text-center" role="contentinfo">
      <div class="wrapper">
        <div class="grid">
            <div class="grid__item">
              <ul class="inline-list footer-menu">
                <li>
                  <a href="">Press</a>
                </li>
                <li>
                  <a class="get-in-touch">Get in Touch</a>
                </li>
              </ul>

              <ul class="inline-list social-icons">
                {% if settings.social_twitter_link != blank %}
                  <li>
                    <a class="icon-fallback-text" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter">
                      <span class="icon icon-twitter" aria-hidden="true"></span>
                      <span class="fallback-text">Twitter</span>
                    </a>
                  </li>
                {% endif %}
                {% if settings.social_facebook_link != blank %}
                  <li>
                    <a class="icon-fallback-text" href="{{ settings.social_facebook_link }}" title="{{ shop.name }} on Facebook">
                      <span class="icon icon-facebook" aria-hidden="true"></span>
                      <span class="fallback-text">Facebook</span>
                    </a>
                  </li>
                {% endif %}
              </ul>
            </div>
        </div>
      </div>
    </footer>
    <!-- //site-footer -->

  </div>

  {{ 'fastclick.min.js' | asset_url | script_tag }}
  {{ 'timber.js' | asset_url | script_tag }}

  {% comment %}
    Template-specific js
  {% endcomment %}
  <script>
    {% if newHash %}
      $(function() {
        timber.updateHash('{{ newHash }}');
      });
    {% endif %}
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

  {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}
  {% if settings.ajax_cart_enable %}
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% include 'ajax-cart-template' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    <script>
      jQuery(function($) {
        ajaxCart.init({
          formSelector: '#AddToCartForm',
          cartContainer: '#CartContainer',
          addToCartSelector: '#AddToCart',
          cartCountSelector: '#CartCount',
          cartCostSelector: '#CartCost',
          moneyFormat: {{ shop.money_format | json }}
        });
      });

      jQuery('body').on('ajaxCart.afterCartLoad', function(evt, cart) {
        // Bind to 'ajaxCart.afterCartLoad' to run any javascript after the cart has loaded in the DOM
        timber.RightDrawer.open();
      });
    </script>
  {% endif %}

  <script type="text/javascript">

    var $frame = $('#nonitembased');
    var $wrap  = $frame.parent();

    $frame.sly({
      speed: 300,
			activatePageOn: 'click',
			scrollBy: 100,
			dragHandle: 1,
			dynamicHandle: 1,
			clickBar: 1
    });

  </script>

  <div class="contact">
    <div class="grid">

      <div class="grid__item large--two-thirds push--large--one-sixth">

        <div class="close">X</div>

        {% comment %}
          Regular page content goes here.
        {% endcomment %}
        <div class="rte">
          {{ page.content }}
        </div>

        {% comment %}
          Contact form starts here
        {% endcomment %}
        <div class="form-vertical">
          {% form 'contact' %}

            {% comment %}
              Successful message
            {% endcomment %}
            {% if form.posted_successfully? %}
              <p class="note form-success">
                {{ 'contact.form.post_success' | t }}
              </p>
            {% endif %}

            {{ form.errors | default_errors }}

            {% assign name_attr = 'contact.form.name' | t | handle %}
            <label for="ContactFormName" class="hidden-label">{{ 'contact.form.name' | t }}</label>
            <input type="text" id="ContactFormName" class="input-full" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">

            <label for="ContactFormEmail" class="hidden-label">{{ 'contact.form.email' | t }}</label>
            <input type="email" id="ContactFormEmail" class="input-full" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

            {% assign name_attr = 'contact.form.phone' | t | handle %}
            <label for="ContactFormPhone" class="hidden-label">{{ 'contact.form.phone' | t }}</label>
            <input type="tel" id="ContactFormPhone" class="input-full" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

            <label for="ContactFormMessage" class="hidden-label">{{ 'contact.form.message' | t }}</label>
            <textarea rows="10" id="ContactFormMessage" class="input-full" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>

            <input type="submit" class="btn right" value="{{ 'contact.form.send' | t }}">

          {% endform %}
        </div>

      </div>

    </div>

  </div>



</body>
</html>
